/*Mixins*/

@mixin hover {
    &:hover {
        cursor: pointer;
    }
}

@mixin smooth {
    transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
}


/*Colors*/

$red: #F03737;
$purple: #9B51E0;
$green: #23BC68;
$medBlue: #2D9CDB;
$ltGray: #c6c6c6;
$medGray: #828282;
//for gradient
$start: $green;
$end: #e0e0e0;
$amt: 10%; //amount of difference for darken/lighten functions

/*Global styles*/

body {
    font-family: 'Open Sans', 'Calibri Light', Verdana;
    color: $medGray;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Bitter';
    font-weight: 300;
}

hr {
    margin: 20px;
    border: transparent;
    border-bottom: 0.1px solid $ltGray;
}

small {
    font-size: 16px;
}

input,
select {
    border-radius: 6px;
    border: 1px solid $ltGray;
    padding: 5px;
    margin: 5px;
    color: $medGray;
    font-family: 'Open Sans';
}

input:focus {
    box-shadow: 0px 0px 10px $medBlue;
    border: 1px solid $medBlue;
    color: darken($medGray, $amt);
    outline: none;
}

.danger {
    border: 2px solid $red!important;
    background: lighten($red, $amt * 3.5)!important;
    color: $red!important;
}

.success {
    border: 2px solid $green!important;
    background: lighten($green, $amt * 4)!important;
    color: $green!important;
}

.textCenter {
    text-align: center;
}

.inline {
    display: inline;
}

.flexParent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    & > div {
        flex: 0 1 auto;
    }
}

.close {
    &:hover {
        color: darken($medGray, $amt);
    }
}

.btn {
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btnBlue {
    @extend .btn;
    background-color: $medBlue;
    box-shadow: 0px 6px 0px darken($medBlue, $amt);
    &:hover {
        background-color: darken($medBlue, $amt);
    }
}

.btnGreen {
    @extend .btn;
    background-color: $green;
    box-shadow: 0px 6px 0px darken($green, $amt);
    &:hover {
        background-color: darken($green, $amt);
    }
}

.btnRed {
    @extend .btn;
    background-color: $red;
    box-shadow: 0px 6px 0px darken($red, $amt);
    &:hover {
        background-color: darken($red, $amt);
    }
}

.btnPurple {
    @extend .btn;
    background-color: $purple;
    box-shadow: 0px 6px 0px darken($purple, $amt);
    &:hover {
        background-color: darken($purple, $amt);
    }
}

.modal {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.8);
    display: none;
    & > .modalInner {
        background: #fff;
        box-shadow: 3px 3px 9px #222222;
        text-align: center;
        width: 80vw;
        max-width: 80%;
        height: 80vh;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 6px;
        & > .login > p {
            padding: 5px;
            border-radius: 6px;
        }
        & > .close {
            position: absolute;
            top: 10px;
            right: 10px;
            @include hover;
        }
    }
}


/*Navbar styling*/

nav {
    @include hover;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $medBlue;
    color: #fff;
    max-height: 100%;
    transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    transition: max-height 0.6s cubic-bezier(0.3, 0, 0.3, 1);
    overflow: hidden;
    border-bottom: 3px solid lighten($medBlue, $amt);
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.7);
    z-index: 1;
    //the list of links in the nav bar
    & > ul {
        margin-top: 50px; //height of the nav bar
        //each individual link
        & > li {
            list-style: none;
            padding: 10px;
            @include smooth;
            &:hover {
                background: lighten($medBlue, $amt);
            }
        }
    }
    //the hamburger icon at the right of the mobile nav
    & > div {
        max-width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        &.navCollapseToggleBtn > i {
            font-size: 32px;
        }
    }
    //when the collapse class is applied, the navbar 'rolls up'
    &.collapse {
        max-height: 50px;
        box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9);
    }
}

#navHeader {
    margin: 10px;
    max-width: 90%;
    & > span {
        font-family: 'Open Sans';
        font-weight: 200;
    }
}


/*Section styling*/

.section {
    width: 100vw;
    min-height: 100vh;
    padding-top: 10px;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*Section 1 styling*/

#section1 {
    padding-top: 50px; //height of nav bar
}

#userWelcome {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.homeBtnRow {
    margin-top: 20px;
}

.mapBtn,
.graphBtn,
.reportBtn {
    text-align: center;
    flex: 0.1 1 auto!important;
    & > img {
        width: 25vw;
    }
    & > p {
        text-align: center;
        font-size: 0.8em;
        margin: 0 auto;
    }
}

.submitBtn {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
}

.message {
    background: lighten($ltGray, $amt);
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
}

.addBtn {
    position: absolute;
    top: 90vh;
    right: 10px;
    background: #F03737;
    color: #fff;
    padding: 10px;
    border-radius: 120px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    width: 25px;
    height: 25px;
    text-align: center;
    transition: width 0.3s ease;
    &:hover {
        width: 120px;
        border-radius: 5px;
        cursor: pointer;
        & > i {
            font-size: 11px;
            &::after {
                opacity: 100;
                content: "Add a new message";
                font-family: "Open sans";
            }
        }
    }
}


/* Section 2 */

#section2 {
    & > #card {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 100vw;
        background: #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: calc(-30px + 100vw);
        padding: 50px 15px;
        transition: left 0.3s ease-in-out;
        &>.close {
            float: right;
            padding: 20px 10px;
        }
    }
    & > .flexParent {
        flex-direction: column;
        & > .btn {
            width: 80%;
            height: 10vh;
            line-height: 10vh;
            margin: 0 auto;
            margin-top: 20px;
            padding: 15px;
        }
    }
}

.step {
    display: inline-block;
    background-color: $medBlue;
    color: #fff;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 20px;
}

.progress {
    background-image: linear-gradient($end, $end);
    height: 5px;
    //transition: background-image 2s ease;
}

.progress.p10 {
    background-image: linear-gradient(to right, $start 0%, $start 10%, $end 10%, $end 100%)
}

.progress.p20 {
    background-image: linear-gradient(to right, $start 0%, $start 20%, $end 20%, $end 100%)
}

.progress.p30 {
    background-image: linear-gradient(to right, $start 0%, $start 30%, $end 30%, $end 100%)
}

.progress.p40 {
    background-image: linear-gradient(to right, $start 0%, $start 40%, $end 40%, $end 100%)
}

.progress.p50 {
    background-image: linear-gradient(to right, $start 0%, $start 50%, $end 50%, $end 100%)
}

.progress.p60 {
    background-image: linear-gradient(to right, $start 0%, $start 60%, $end 60%, $end 100%)
}

.progress.p70 {
    background-image: linear-gradient(to right, $start 0%, $start 70%, $end 70%, $end 100%)
}

.progress.p80 {
    background-image: linear-gradient(to right, $start 0%, $start 80%, $end 80%, $end 100%)
}

.progress.p90 {
    background-image: linear-gradient(to right, $start 0%, $start 90%, $end 90%, $end 100%)
}

.progress.p100 {
    background-image: linear-gradient($start, $start);
}

#card > .form {
    flex-direction: column;
    padding: 15px;
    & > label,
    & > input,
    & > select {
        flex: 0 1 auto;
        font-size: 18px;
    }
    & > label {
        margin-top: 10px;
    }
}

#map {
    height: 90vh;
}
