/*Mixins*/
/*Colors*/
/*Global styles*/
body {
  font-family: 'Open Sans', 'Calibri Light', Verdana;
  color: #828282;
  margin: 0;
  overflow-x: hidden; }
  body.noScroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%; }

h1,
h2,
h3 {
  font-family: 'Bitter';
  font-weight: 300; }

hr {
  margin: 20px;
  border: transparent;
  border-bottom: 0.1px solid #c6c6c6; }

small {
  font-size: 16px; }

input,
select {
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  padding: 5px;
  margin: 5px;
  color: #828282;
  font-family: 'Open Sans';
  width: calc(100% - 15px); }

input:focus {
  box-shadow: 0px 0px 10px #2D9CDB;
  border: 1px solid #2D9CDB;
  color: dimgray;
  outline: none; }

.danger, #card > .page > .form > .empty > input, #card > .page > .form > .empty > label {
  border: 2px solid #F03737 !important;
  background: #fcdddd !important;
  color: #F03737 !important; }

.success {
  border: 2px solid #23BC68 !important;
  background: #b9f2d3 !important;
  color: #23BC68 !important; }

.textCenter {
  text-align: center; }

.inline {
  display: inline; }

.flexParent {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .flexParent > div {
    flex: 0 1 auto; }

.close:hover {
  color: dimgray; }

.btn, .btnBlue, .btnGreen, .btnRed, .btnPurple {
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s all ease; }

.btnBlue {
  background-color: #2D9CDB;
  box-shadow: 0px 6px 0px #1f7fb6; }
  .btnBlue:hover {
    background-color: #1f7fb6; }

.btnGreen {
  background-color: #23BC68;
  box-shadow: 0px 6px 0px #1b9150; }
  .btnGreen:hover {
    background-color: #1b9150; }

.btnRed {
  background-color: #F03737;
  box-shadow: 0px 6px 0px #e31111; }
  .btnRed:hover {
    background-color: #e31111; }

.btnPurple {
  background-color: #9B51E0;
  box-shadow: 0px 6px 0px #8226d8; }
  .btnPurple:hover {
    background-color: #8226d8; }

.modal {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.8);
  display: none; }
  .modal > .modalInner {
    background: #fff;
    box-shadow: 3px 3px 9px #222222;
    text-align: center;
    width: 80vw;
    max-width: 80%;
    height: 80vh;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 6px; }
    .modal > .modalInner > .login > p {
      padding: 5px;
      border-radius: 6px; }
    .modal > .modalInner > .close {
      position: absolute;
      top: 10px;
      right: 10px; }
      .modal > .modalInner > .close:hover {
        cursor: pointer; }

/*Navbar styling*/
nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2D9CDB;
  color: #fff;
  max-height: 100%;
  transition: all 0.6s cubic-bezier(0.3, 0, 0.3, 1);
  transition: max-height 0.6s cubic-bezier(0.3, 0, 0.3, 1);
  overflow: hidden;
  border-bottom: 3px solid #59b1e2;
  box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.7);
  z-index: 1; }
  nav:hover {
    cursor: pointer; }
  nav > ul {
    margin-top: 50px; }
    nav > ul > li {
      list-style: none;
      padding: 10px;
      transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1); }
      nav > ul > li:hover {
        background: #59b1e2; }
  nav > div {
    max-width: 50px;
    position: absolute;
    top: 10px;
    right: 10px; }
    nav > div.navCollapseToggleBtn > i {
      font-size: 32px; }
  nav.collapse {
    max-height: 50px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.9); }

#navHeader {
  margin: 10px;
  max-width: 90%; }
  #navHeader > span {
    font-family: 'Open Sans';
    font-weight: 200; }

/*Section styling*/
.section {
  width: 100vw;
  min-height: 100vh;
  padding-top: 10px;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

/*Section 1 styling*/
#section1 {
  padding-top: 50px; }

#userWelcome {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }

.homeBtnRow {
  margin-top: 20px; }

.mapBtn,
.graphBtn,
.reportBtn {
  text-align: center;
  flex: 0.1 1 auto !important; }
  .mapBtn > img,
  .graphBtn > img,
  .reportBtn > img {
    width: 25vw; }
  .mapBtn > p,
  .graphBtn > p,
  .reportBtn > p {
    text-align: center;
    font-size: 0.8em;
    margin: 0 auto; }

.submitBtn {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px; }

.message {
  background: #e0e0e0;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px; }

.addBtn {
  position: absolute;
  top: 90vh;
  right: 10px;
  background: #F03737;
  color: #fff;
  padding: 10px;
  border-radius: 120px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  width: 25px;
  height: 25px;
  text-align: center;
  transition: width 0.3s ease; }
  .addBtn:hover {
    width: 120px;
    border-radius: 5px;
    cursor: pointer; }
    .addBtn:hover > i {
      font-size: 11px; }
      .addBtn:hover > i::after {
        opacity: 100;
        content: "Add a new message";
        font-family: "Open sans"; }

/* Section 2 */
#section2 > #card {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 100vw;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: calc(-30px + 100vw);
  padding: 50px 15px;
  transition: left 0.4s ease-in-out; }
  #section2 > #card > .close {
    float: right;
    padding: 20px 10px; }
#section2 > .flexParent {
  flex-direction: column; }
  #section2 > .flexParent > .btn, #section2 > .flexParent > .btnBlue, #section2 > .flexParent > .btnGreen, #section2 > .flexParent > .btnRed, #section2 > .flexParent > .btnPurple {
    width: 80%;
    height: 10vh;
    line-height: 10vh;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px; }

.step {
  display: inline-block;
  background-color: #2D9CDB;
  color: #fff;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 20px; }

.progressBar {
  background: #e0e0e0;
  height: 5px; }

.progress {
  background: #23BC68;
  height: 5px;
  transition: width 0.3s ease; }

.progress.p10 {
  width: 10%; }

.progress.p20 {
  width: 20%; }

.progress.p30 {
  width: 30%; }

.progress.p40 {
  width: 40%; }

.progress.p50 {
  width: 50%; }

.progress.p60 {
  width: 60%; }

.progress.p70 {
  width: 70%; }

.progress.p80 {
  width: 80%; }

.progress.p90 {
  width: 90%; }

.progress.p100 {
  width: 100%; }

#card > .page {
  position: absolute;
  width: 100%;
  left: 100vw;
  transition: left 0.4s ease-in-out; }
  #card > .page#page1 {
    left: 0; }
  #card > .page > .form {
    flex-direction: column;
    padding: 15px; }
    #card > .page > .form > .btn, #card > .page > .form > .btnBlue, #card > .page > .form > .btnGreen, #card > .page > .form > .btnRed, #card > .page > .form > .btnPurple {
      width: calc(100% - 15px);
      margin: 30px 0; }
    #card > .page > .form > .inputGroup > label, #card > .page > .form > .inputGroup > input, #card > .page > .form > .inputGroup > select {
      display: block;
      flex: 0 1 auto;
      font-size: 18px; }
    #card > .page > .form > .inputGroup > label {
      margin-top: 10px; }
    #card > .page > .form > .required > label {
      font-weight: bold; }
      #card > .page > .form > .required > label:after {
        content: " *"; }
    #card > .page > .form > .empty > label {
      background: none !important;
      border: none !important; }

#map {
  height: 90vh;
  display: none; }

/*# sourceMappingURL=site.css.map */
