<!DOCTYPE html>
html
	head
		link(href="https://fonts.googleapis.com/css?family=Bitter|Lato:300,400,700|Material+Icons" rel="stylesheet")
		link(rel="icon" type="image/png" href="favicon.png")
		link(rel="shortcut icon" type="image/png" href="favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title ChapApp
		style
			include ../public/css/site.css
	body
		div.content(v-bind:class="{ nightModeTheme: nightMode }")
			//navbar
			nav.collapse(id="navbar" v-on:click="toggleNav")
				h1(id="navHeader") ChapApp | 
					span(v-html="page")
				ul
					li#section1Btn(v-on:click="scrollTo")
						a#section1Btn Home
					li#section2Btn(v-on:click="scrollTo") 
						a#section2Btn Submit
					li
						a Reports
					li(v-on:click="showModal")
						a Log In
					li(v-on:click="signOut")
						a Log Out
					li(v-on:click="toggleMode")
						a {{ nightMode ? 'Switch to Day Mode' : 'Switch to Night Mode'  }}
				div.navCollapseToggleBtn
					i.material-icons menu
			//section 1 - HOME
			div.section(id="section1")
				h2(id="userWelcome") {{ user.name.length > 0 ? "Welcome, " + user.name : "Please log in."}}
				hr
				//display this row only if the user has admin access
				template(v-if="user.role === 'admin'")
					div.flexParent.homeBtnRow
						div#section3Btn.mapBtn(v-on:click="scrollTo")
							//Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) 
							svg(version="1.1" id="Layer_1" class="mapIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 537 537" style="enable-background:new 0 0 537 537;" xml:space="preserve")
								g
									rect(x="86.7" y="144" class="st0" width="56.1" height="72.7")
									polygon(class="st0" points="219.8,226.5 218.8,225.9 86.7,225.9 86.7,248.3 219.8,248.3 	")
									polygon(class="st0" points="219.8,257.9 219.8,436.3 86.7,436.3 86.7,257.5 219.1,257.5 	")
									polygon(class="st0" points="220.6,144 220.6,144.6 219.8,144.1 219.8,216.7 152,216.7 152,144 	")
									g
										path(class="st1" d="M179.1,168.7C178.5,169.5,178.8,169.1,179.1,168.7L179.1,168.7z")
										path(class="st1" d="M194.7,144c-3.2,5.2-6.2,10.4-9.4,15.6c-1.8,3-3.8,5.9-5.8,8.7c-0.1,0.1-0.2,0.3-0.4,0.5 c-0.1,0.1-0.1,0.1-0.2,0.2c0,0,0,0-0.1,0.1c0,0,0,0,0,0.1c0,0,0,0.1-0.1,0.1c-0.3,0.3-0.5,0.7-0.8,1c-1.2,1.4-2.4,2.7-3.7,4.1 c-1.1,1.2-2.3,2.3-3.5,3.4c-0.7,0.6-1.4,1.2-2.1,1.8c0,0-0.1,0.1-0.1,0.1c-2.4,1.7-4.8,3.2-7.4,4.4c-0.3,0.1-1,0.4-1.3,0.5 c-0.7,0.2-1.3,0.4-2,0.6c-0.8,0.2-1.7,0.4-2.5,0.6c-0.2,0-0.5,0.1-0.8,0.1c-0.8,0.1-1.7,0.1-2.5,0.1c-0.3,0-0.7,0-1,0 c-0.8,0-1.5-0.1-2.3-0.1c-0.3,0-0.5,0-0.7,0c-0.1,0-0.3-0.1-0.7-0.2c-1.5-0.4-3-0.8-4.5-1.2c-5.3-1.6-10.4-3.4-15.6-5.3 c-13.5-4.7-27.2-5.4-40.6-1.3v25.7c0.5-0.3,1.1-0.6,1.6-0.8c0.3-0.1,0.5-0.2,0.6-0.3c0.1,0,0.2-0.1,0.4-0.2 c0.8-0.3,1.5-0.6,2.3-0.8c1.7-0.6,3.5-1.1,5.2-1.6c0.6-0.1,3.6-0.7,3.3-0.7c1.8-0.2,3.7-0.3,5.5-0.3c1,0,2,0.2,3,0.1 c0.1,0,0.2,0,0.2,0c0,0,0.1,0,0.1,0c1.7,0.3,3.4,0.7,5.1,1.1c3.4,0.9,6.7,2.1,10.1,3.3c6.1,2.3,12.4,4.3,18.6,5.4 c3.1,0.6,6.1,0.9,9.2,0.9c5.2,0.1,10.4-0.7,15.6-2.7c14.2-5.5,25.1-16,33.8-28.4c4.6-6.5,8.5-13.6,12.6-20.4 c1.8-3.1,3.7-6.1,5.7-9.1v-5l0.8,0.6V144H194.7z")
									polygon(class="st2" points="220.6,216.7 316,281.6 316,214.1 316.8,214.1 316.8,213.3 219.6,144.6 219.6,216.7 	")
									polygon(class="st2" points="273,440.8 273,295.2 219.6,258.5 219.6,436.3 218.8,436.3 218.8,436.4 316,505 316,440.8 	")
									polygon(class="st2" points="219.6,227 219.6,248.3 221,248.3 316,313.7 316,291.8 314.4,291.7 	")
								g
									polygon(class="st2" points="282.2,301.5 282.2,431.6 316,431.6 316,323.8 314.5,323.8 	")
									polygon(class="st3" points="316.1,505.1 219.3,436.5 219.3,346.8 316.1,409 ")
								g
									polygon(class="st0" points="315.8,214.1 315.8,282.2 315.8,291.8 315.8,314.2 316.4,314.6 375.5,314.6 375.5,323.8 315.8,323.8 315.8,431.6 423.9,431.6 423.9,505.6 414.7,505.6 414.7,440.8 315.8,440.8 315.8,505.6 315,505 315,506.5 448.8,506.5 448.8,214.1 ")
								polygon(class="st4" points="219.8,226.5 219.8,216.7 152,216.7 152,221.3 142.9,221.3 142.9,216.7 86.7,216.7 86.7,225.9 218.8,225.9 ")
								polygon(class="st5" points="314.4,291.7 316,291.8 316,281.6 220.6,216.7 219.6,216.7 219.6,227 ")
								polygon(class="st4" points="219.8,257.9 219.8,248.3 86.7,248.3 86.7,257.5 219.1,257.5 ")
								polygon(class="st5" points="282.2,293.4 282.2,301.5 314.5,323.8 316,323.8 316,313.7 221,248.3 219.6,248.3 219.6,258.5 273,295.2 273,293.4 ")
								polygon(class="st5" points="282.2,407.6 282.2,301.5 273,295.2 273,410.8 316,440.8 316,431.6 ")
								polygon(class="st4" points="414.7,440.8 414.7,505.6 423.9,505.6 423.9,431.6 315.8,431.6 315.8,440.8 ")
								polygon(class="st5" points="282.2,293.4 273,293.4 273,295.2 282.2,301.5 ")
								rect(x="142.9" y="144" class="st4" width="9.2" height="72.7")
								rect(x="142.9" y="216.7" class="st4" width="9.2" height="4.6")
								rect(x="315.8" y="213.9" class="st6" width="133.2" height="152.6")
								polygon(class="st4" points="447.7,294.5 448.6,285.3 317.3,282.6 315.8,282.2 315.8,291.8 ")
								polygon(class="st4" points="448.2,323.8 448.2,314.6 317.2,314.6 315.8,314.2 315.8,323.8 ")
								path(class="st1" d="M171.1,346.6c-2.6,11.1-9.5,21.7-21.4,24.2c-2.7,0.6-5.5,0.7-8.3,0.7c-1.8,2.2-3.6,4.5-5.4,6.7 c-1.9,7.9-6.1,15.2-12.3,20.3c-5.7,4.8-12.3,7.3-19.8,5.2c-2.3-0.6-4.7-1.8-6.8-3.3c-2.1-0.8-4.2-1.9-6.2-3.5 c-1.7-1.3-3.1-2.8-4.2-4.5V272.9c8.6-2.2,17.6-2.4,26.7-1.2c11.6,1.6,23.9,4.3,32.1,13.4c1.4,1.5,2.5,3.2,3.5,4.9 c10.8,3.6,19.6,11.1,23.5,22.2C176.2,322.7,173.6,336,171.1,346.6z")
								g
									path(class="st7" v-bind:class="{ nightModeTheme: nightMode }" d="M390.7,124c-30.9,0-56,25.1-56,56c0,0.2,0,0.4,0,0.7c0.1,4.1,1,8.2,2.5,12.1l53.4,136.1l45.3-115.6l8.9-23.3 c1.2-3.1,1.8-6.4,1.9-9.6c0-0.2,0-0.3,0-0.4C446.8,149.1,421.6,124,390.7,124z M390.7,211.8c-18.4,0-33.3-14.9-33.3-33.3 c0-18.3,14.9-33.3,33.3-33.3c18.3,0,33.3,14.9,33.3,33.3C424,196.8,409.1,211.8,390.7,211.8z")
								
							p View map
						div.graphBtn
							//Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  
							svg(version="1.1" id="Layer_1" class="graphIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve")
								
								rect(x="87.7" y="416.1" class="st0" width="124.5" height="118.7")
								rect(x="259.1" y="294.2" class="st2" width="124.5" height="240.5")
								rect(x="432" y="171" class="st3" width="124.5" height="363.7")
							p View trends
						div.reportBtn
							//Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  
							svg(version="1.1" id="Layer_1" class="reportIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 345.6 345.6" style="enable-background:new 0 0 345.6 345.6;" xml:space="preserve")
								g
									polygon(class="st1" points="218.1,24.3 74.6,24.3 74.6,312.3 277.2,312.3 277.2,87.3 	")
								g
									polygon(class="st3" points="216.2,89.3 275.3,89.3 216.2,26.3 	")
								rect(x="104.1" y="114.3" class="st3" width="65" height="30")
								rect(x="188.5" y="114.3" class="st3" width="65" height="30")
								rect(x="104.1" y="157.9" class="st3" width="65" height="30")
								rect(x="188.5" y="157.9" class="st3" width="65" height="30")
								rect(x="104.1" y="201.6" class="st3" width="65" height="30")
								rect(x="188.5" y="201.6" class="st3" width="65" height="30")
								rect(x="104.1" y="245.2" class="st3" width="65" height="30")
								rect(x="188.5" y="245.2" class="st3" width="65" height="30")
								rect(x="69.6" y="50.6" class="st4" width="126.6" height="37.8")
							p Print report
					div.addBtn(v-bind:class="{ nightModeTheme: nightMode }") 
						i.material-icons add
				//display the rest of the section only if the user actually exists
				template(v-if="user.name.length > 0")
					div#section2Btn.btnBlue.submitBtn(v-on:click="scrollTo" v-bind:class="{ nightModeTheme: nightMode }") Submit <br/> activity report
					hr
					div.message(v-for= "item in messages")
						h4 {{item.date}}
			hr
			//section 2 - SUBMIT REPORT
			div.section(id="section2")
				//this is where the forms go
				div.flexParent
					h2.textCenter Submit Activity Report
					hr
					div(v-for= "item in reportTypes" v-bind:class="[item.class, nightMode ? 'nightModeTheme' : '']" v-bind:id="item.index" v-on:click="selectReport")
						span(v-bind:id="item.index") {{item.title}}

				div#card(v-bind:class="{ nightModeTheme: nightMode }")
					i.material-icons.close(v-on:click="hideCard") close
					div.step(@click="toggleSteps") {{currentStep.index + 1}}
						div.stepchild( v-for="item in selectedReport.steps" v-on:click="chooseStep") {{item.index + 1}}
					h2(style="text-align:center") {{currentStep.title}}
					div.progressBar
						div.progress(v-bind:class="currentStep.progress")
					div.pages
						div(v-if="selectedReport.index === 0")
							div.page#page1
								div.form.flexParent
									div.inputGroup
										label Event #
										input#eventNum(v-model="report.eventNum")
									div.inputGroup
										label Case #
										input#caseNum(v-model="report.caseNum")
									div.inputGroup.required
										label Duty status
										select#dutyStatus(v-model="report.dutyStatus")
											option Select
											option Follow-up
											option Primary duty
											option Self-initiated
									div.inputGroup.required
										label School
										select#school(v-model="report.school")
											option Select
											option Addams Elementary
											option Anthony Elementary 
											option Ayer Elementary 
											option Aynesworth Elementary 
											option Bakman Elementary 
											option Balderas Elementary 
											option Birney Elementary 
											option Burroughs Elementary 
											option Calwa Elementary 
											option Centennial Elementary 
											option Columbia Elementary 
											option Del Mar Elementary 
											option Easterby Elementary 
											option Eaton Elementary 
											option Ericson Elementary 
											option Ewing Elementary 
											option Fig Garden Elementary 
											option Forkner Elementary 
											option Fresmont Elementary 
											option Gibson Elementary 
											option Greenberg Elementary 
											option Heaton Elementary 
											option Hidalgo Elementary 
											option Holland Elementary 
											option Homan Elementary 
											option Jackson Elementary 
											option Jefferson Elementary 
											option King Kirk Elementary 
											option Kratt Elementary 
											option Lane Elementary 
											option Lawless Elementary 
											option Leavenworth Elementary 
											option Lincoln Elementary 
											option Lowell Elementary 
											option Malloch Elementary 
											option Manchester GATE 
											option Mayfair Elementary 
											option McCardle Elementary 
											option Muir Elementary 
											option New Spirit Charter 
											option Norseman Elementary 
											option Olmos Elementary 
											option Powers-Ginsburg Elementary 
											option Pyle Elementary 
											option Robinson Elementary 
											option Roeding Elementary 
											option Rowell Elementary 
											option Slater Elementary 
											option Starr Elementary 
											option Storey Elementary 
											option Sunset Elementary 
											option Thomas Elementary 
											option Turner Elementary 
											option Valley Prep Academy 
											option Vang Pao Elementary 
											option Viking Elementary 
											option Vinland Elementary 
											option Webster Elementary 
											option Williams Elementary 
											option Wilson Elementary 
											option Winchell Elementary 
											option Wishon Elementary 
											option Wolters Elementary 
											option Yokomi Elementary 
									div.btn.btnBlue#page1Next(v-on:click="nextStep") Next
							div.page#page2
								div.form.flexParent
									div.inputGroup.required
										label Date
										input#date(type="date" v-model="report.date")
									div.inputGroup.required
										label Time arrived
										input#timeArrived(type="time" v-model="report.timeArrived")
									div.inputGroup.required
										label Time cleared
										input#timeCleared(type="time" v-model="report.timeCleared")
									div.btn.btnBlue#page2Next(v-on:click="nextStep") Next
							div.page#page3
								div.form.flexParent
									div.inputGroup
										h4 Did you work with a group today?
										input#group(v-model="report.group" type="checkbox")
									div.inputGroup(v-if="!report.group")
										label Counseling for
										select#counseling(v-model="report.counseling")
											option Select
											option Child
											option Family
											option Staff
									div.inputGroup(v-if="!report.group")
										label Gender
										select#gender(v-model="report.gender")
											option Select
											option Female
											option Male
											option Other gender
									div.inputGroup(v-if="!report.group")
										label Ethnicity
										select#ethnicity(v-model="report.ethnicity")
											option Select
											option White / Caucasian
											option Hispanic / Latino
											option Black / African-American
											option Asian / Pacific Islander
											option Native American Indian
											option Other
									div.btn.btnBlue#page3Next(v-on:click="nextStep") Next
							div.page#page4
								div.form.flexParent
									div.inputGroup
										div.btn.btnGreen(@click="getLocation") LOCATE ME
										p or enter the location:
									div.inputGroup
										input#address(v-model="report.address" placeholder="Street address")
									div.inputGroup
										input#zip(v-model="report.zip" placeholder="Zip code")
									div.btn.btnBlue#page4Next(v-on:click="nextStep") Next
							div.page#page5
								div.form.flexParent
									div.inputGroup.required
										label Campus activity
										select#campusActivity(v-model="report.campusActivity")
											option Select
											option 1st Grade
											option 2nd Grade
											option Yard Duty
											option Other
									div.inputGroup.required
										label Event classification code
										select#eventCode(v-model="report.eventCode")
											option Select
											option No event issued
											option 1A - Adults
											option 1A - Juveniles
											option 1E - Weapons
											option 1H - Out of Control
											option 1H - Curfew
											option 1H - Truant
											option 1J - At-risk Person
											option 1J - Missing Adult
											option 1J - Missing Juveline
											option 1J - Runaway Juveline
											option 1J - Found
											option 1M - Suicide/Attempt
											option 1M - Committed WIC 5150
											option 1M - Sick or Injured / Check Welfare
											option 1M - Mental Illness
											option 1M - Overdose (Non-Narcotics Related)
											option 1N - Suspicious Person
											option 1N - Suspicious Vehicle
											option 1N - Prowler Call
											option 1N - Other Suspicious Circumstances
											option 2B - Attend Public Meeting
											option 2B - Security Inspection
											option 2B - Patrol Watch/Building Check
											option 4C - Forcible Rape
											option 4C - Spousal Rape
											option 4C - Sodomy
											option 4C - Oral Copulation
											option 4C - Sexual Battery/Molestation
											option 4C - Indecent Exposure
											option 4C - Unlawful Intercourse
											option 4D - Aggravated Assault
											option 4D - Simple Battery
											option 4D - Domestic Violence
											option 4D - Kidnap
											option 4I - Selling Alcohol to Minors
											option 4I - Selling Tobacco to Minors
											option 4J - Bombing
											option 4J - Attempt
											option 4J - Threat
											option 4J - Possession of Bomb Device
											option 4J - Found Device
											option 4K - Child Abuse/Neglect (at risk)
											option 4K - Prior
											option 4O - Child Custody
											option 4O - Domestic Violence-Related
											option 4O - Other
											option 4Q - Child Concealment
											option 4Q - Child Custody
											option 4S - Possession
											option 4S - Sales
											option 4S - Possession for Sale
											option 4S - Manufacturing/Growing
									
									div.btn.btnBlue#page5Next(v-on:click="nextStep") Next
							div.page#page6
								div.form.flexParent
									div.inputGroup
										label Referral for
										select#referralFor(v-model="report.referralTo")
											option Select
											option Emotional Support
											option Physical Support
									div.inputGroup
										label Referred to
										select#referralTo(v-model="report.referralFor")
											option Select
											option Community Support
											option Faith-Based Support
											option County
											option State
									div.inputGroup.required
										label Synopsis
										textarea#synopsis(v-model="report.synopsis")
											
									div.btn.btnBlue#page6Next(v-on:click="submitForm") Submit
							div.page#page7
								div.form.flexParent
									h2 {{submitAlert}}
						div(v-if="selectedReport.index === 1")
							div.page#page1
								div.form.flexParent
									div.inputGroup.required
										label Event #
										input#eventNo(v-model="report.eventNum")
									div.inputGroup.required
										label Old Case #
										input#caseNo(v-model="report.oldCaseNum")
									div.inputGroup
										label New Case #
										input#caseNo(v-model="report.newCaseNum")
									div.inputGroup.required
										label Follow-up assistance
										input(type="checkbox" v-model="report.followUp")
									div.btn.btnBlue#page1Next(v-on:click="nextStep") Next
							div.page#page2
								div.form.flexParent
									div.inputGroup.required
										label Date
										input#date(type="date" v-model="report.date")
									div.inputGroup.required
										label Time arrived
										input#timeArrived(type="time" v-model="report.timeArrived")
									div.inputGroup.required
										label Time cleared
										input#timeCleared(type="time" v-model="report.timeCleared")
									div.btn.btnBlue#page2Next(v-on:click="nextStep") Next
							div.page#page3
								div.form.flexParent
									
									div.inputGroup
										div.btn.btnGreen(@click="getLocation") LOCATE ME
										p or enter the dispatched location:
									div.inputGroup
										input#address(v-model="report.address" placeholder="Street address")
									div.inputGroup
										input#zip(v-model="report.zip" placeholder="Zip code")
									div.inputGroup
										label Area served
										select#area(v-model="report.area")
											option Select
											option NE
											option NW
											option SE
											option SW
											option HQ
											option Office
								
									div.btn.btnBlue#page3Next(v-on:click="nextStep") Next
							div.page#page4
								div.form.flexParent
									div.inputGroup.required
										label Name
										input#name(v-model="report.contactName")
									div.inputGroup.required
										label Address (if different)
										input#name(v-model="report.contactAddress")
									div.inputGroup.required
										label Phone number
										input#phone(v-model="report.contactPhone", type="phone")
									div.inputGroup.required
										label Gender
										select#gender(v-model="report.gender")
											option Select
											option Female
											option Male
											option Other gender
									div.inputGroup.required
										label Ethnicity
										select#ethnicity(v-model="report.ethnicity")
											option Select
											option White / Caucasian
											option Hispanic / Latino
											option Black / African-American
											option Asian / Pacific Islander
											option Native American Indian
											option Other
								
									div.btn.btnBlue#page4Next(v-on:click="nextStep") Next
							div.page#page5
								div.form.flexParent
									div.inputGroup
										label Community relations
										select#communityRelations(v-model="report.communityRelations")
											option Select
											option Assist a Citizen
											option Disaster Assistance
											option Food / Shelter / Utilities
											option Transport a Citizen
											option Community Event
											option Translation
											option Invocation / Prayer
											option Visitation
											option Theological / Religious Questions
									div.inputGroup
										label Family counseling
										select#familyCounseling(v-model="report.familyCounseling")
											option Select
											option Child Custody Dispute
											option Divorce / Separation
											option Marriage Counseling
											option Personal Counseling
											option Pre-marital Counseling
									div.inputGroup
										label Referral for
										select#referralFor(v-model="report.referralFor")
											option Select
											option Emotional Needs
											option Physical Needs
											option Spiritual Needs
									div.btn.btnBlue#page5Next(v-on:click="nextStep") Next
							div.page#page6
								div.form.flexParent
									div.inputGroup
										label Abuse Prevention &amp; Treatment
										select#referralAbuse(v-model="report.referralAbuse")
											option Select
											option Child Protective Services: 559-255-8320
											option Comprehensive Youth Services: 559-229-3561
											option Crime Victim Assistance Center: 559-488-3425
											optioi Marjaree Mason Center: 559-237-4706 559-233-4357 
											option Northwest Family Center: 559-225-3222
									div.inputGroup
										label Addictions
										select#referralAddictions(v-model="report.referralAddictions")
											option Select
											option Al-Anon Family Groups: 559-265-3560
											option Alcoholics Anonymous: 559-221-6261
											option Choices: A Road to Recovery: 559-229-3737: 
											option Comprehensive Addictions Programs: 559-264-5096
											option Decision Home of Fresno: 559-498-0381 (Male Only)
											option Driving Abuse Treatment: 559-268-6475 (DUI Violators)
											option Family and Youth Alternatives: 559-225-9117
											option Fresno Rescue Mission: 559-268-0839
											option Fresno New Connections: 559-248-1548
											option Glorybound Ministries: 559-266-8812
											option Highways and Hedges: 559-251-2080
											option Narcotics Anonymous: 559-255-5881
											option New Life for Girls: 559-486-2515
											option Promesa Behavioral Health: 559-439-5437 (Children to 21)
											option Salvation Army Rehabilitation: 559-490-7020
											option Spirit of Woman of Calif.: 559-244-4353
											option VA Central California: 559-225-6100 (Eligible Veterans)
											option WestCare: 559-237-3420
									div.inputGroup
										label Advocacy
										select#referralAdvocacy(v-model="report.referralAdvocacy")
											option Select
											option Central Calif. Legal Services: 559-570-1200
											option Court Appointed Special Advocate: 559-244-6485 (Child Advocates)
											option Crime Victim Assistance Center: 559-488-3425
											option United Prison Ministries Coalition: 559-255-9492
									div.inputGroup
										label Child &amp; Family Services
										select#referralFamily(v-model="report.referralFamily")
											option Select
											option Comprehensive Youth Services: 559-229-3561
											option Early Head Start: 559-263-1550
											option Northwest Family Center: 559-225-3222
											option Rescue the Children: 559-268-0839
											option Teen Parents Program: 559-237-4741
									div.btn.btnBlue#page6Next(v-on:click="nextStep") Next 
							div.page#page7
								div.form.flexParent
									div.inputGroup
										label Clothing / Personal Items
										select#referralClothing(v-model="report.referralClothing")
											option Select
											option Catholic Charities: 559-237-0851
											option ESA Love, Inc.: 559-224-9599
											option Poverllo House: 559-498-6988
											option Samaritan Women Community: 559-227-2190 (women coming out of prison)
											option 7th Day Adventist Comm. Ctr.: 559-221-4247
									div.inputGroup
										label Death and Dying
										select#referralDeath(v-model="report.referralDeath")
											option Select
											option Fresno Survivors of Suicide Loss: 559-322-5877
											option Hinds Hospice Ctr for Grief & Loss: 559-248-8579
											option Life After Loss Support Group: 559-450-5600
											option St. Agnes Grief Support: 559-450-3858
									div.inputGroup
										label Financial Assistance
										select#referralFinancial(v-model="report.referralFinancial")
											option Select
											option CALWORKS: 559-453-4357
											option Catholic Charities: 559-237-0851
											option ESA Love, Inc.: 559-224-9599
											option Fresno County E.O.C.: 559-263-1135
											option Salvation Army: 559-233-0138
											option Economic Opportunity Comm.: 559-263-113
									div.inputGroup
										label Food
										select#referralFood(v-model="report.referralFood")
											option Select
											option Catholic Charities: 559-237-0851
											option Community Food Bank: 559-237-3663
											option Glorybound Ministries: 559-266-8812
											option Poverello House: : 559-498-6988
											option Senior Hot Meals: 559-621-6600
											option 7th Day Adventist Comm. Ctr.: 559-221-4247


									div.btn.btnBlue#page7Next(v-on:click="nextStep") Next 
							div.page#page8
								div.form.flexParent
									div.inputGroup
										label Hotlines
										select#referralHotlines(v-model="report.referralHotlines")
											option Select
											option Adult Protective Services: 559-255-3383
											option Alcoholics Anonymous: 559-221-6907
											option Calif. Poison Control: 800-222-1222
											option Child Protective Services: 559-255-8320
											option Marjaree Mason Center: 559-237-4706
											option National Runaway Switchboard: 773-880-9860
									div.inputGroup
										label Information & Referral
										select#referralInformation(v-model="report.referralInformation")
											option Select
											option Adult Protective Services: 559-255-3383
											option American Red Cross: 559-455-1000
											option Attorney Information & Referral: 559-264-0137
											option Central California Legal Services: 559-570-1200
											option Central Valley Children’s Services: 559-456-1100
											option ESA Love, Inc.: 559-224-9599
											option Fresno Metro Ministry: 559-485-1416
											option Marjaree Mason Center: 559-237-4706
											option St Agnes Health Source Connection: 559-450-2000
									div.inputGroup
										label Legal/Mediation
										select#referralLegal(v-model="report.referralLegal")
											option Select
											option Family Court Services: 559-488-3241
											option Centro La Familia Advocacy: 559-237-2961 (Catholic Charities)
											option Crime Victim Assistance Ctr.: 559-488-3425 (Catholic Charities)
											option Fresno County Public Defender: 559-488-3546
											option Victim Offender Reconciliation: 559-445-9803
									div.inputGroup
										label Mental Health
										select#referralMental(v-model="report.referralMental")
											option Select
											option Adult Services Dept. Metro Services: 559-453-4099
											option Community Behavioral Health Ctr: 559-449-8000
											option Family & Youth Alternatives: 559-225-9117
											option Link Care Counseling Center: 559-439-2647
											option National Alliance For Mentally Ill: 559-224-2469 (NAMI)
									div.btn.btnBlue#page8Next(v-on:click="nextStep") Next 
							div.page#page9
								div.form.flexParent
									div.inputGroup.required
										label Synopsis
										textarea#synopsis(v-model="report.synopsis")
									div.btn.btnBlue#page9Next(v-on:click="submitForm") Submit 
							div.page#page10
								div.form.flexParent
									h2 {{submitAlert}}
						div(v-if="selectedReport.index === 2")
							div.page#page1
								div.form.flexParent
									div.inputGroup.required
										label Event #
										input#eventNo
									div.inputGroup
										label Case #
										input#caseNo
									div.inputGroup.required
										label Duty status
										select#dutyStatus
											option Select
											option Dispatched
											option Backup
											option Follow-up
											option No Calls
											option Ride Along
											option Self-initiated
											option Special
									div.inputGroup.required
										label Agency assisted
										select#agency
											option Select
											option American Ambulance
											option Fresno Fire
											option Fresno PD
							
									div.btn.btnBlue#page1Next(v-on:click="nextStep") Next
							div.page#page2
								div.form.flexParent
									div.inputGroup.required
										label Date
										input#date(type="date")
									div.inputGroup.required
										label Time received
										input#timeReceived(type="time")
									div.inputGroup.required
										label Time arrived
										input#timeArrived(type="time")
									div.inputGroup.required
										label Time cleared
										input#timeCleared(type="time" v-model="report.timeCleared")
									div.btn.btnBlue#page2Next(v-on:click="nextStep") Next
							div.page#page3
								div.form.flexParent
									
									div.inputGroup
										div.btn.btnGreen(@click="getLocation") LOCATE ME
										p or enter the dispatched location:
										div.inputGroup
											input#address(v-model="report.address" placeholder="Street address")
										div.inputGroup
											input#zip(v-model="report.zip" placeholder="Zip code")
										div.inputGroup
											label Area served
											select#area(v-model="report.area")
												option Select
												option NE
												option NW
												option SE
												option SW
												option HQ
												option Office
									
									div.btn.btnBlue#page3Next(v-on:click="nextStep") Next
							div.page#page4
								div.form.flexParent
									div.inputGroup.required
										label Name
										input#name(v-model="report.contactName")
									div.inputGroup.required
										label Phone number
										input#phone(v-model="report.contactName", type="phone")
									div.inputGroup.required
										label Gender
										select#gender(v-model="report.gender")
											option Select
											option Female
											option Male
											option Other gender
									div.inputGroup.required
										label Ethnicity
										select#ethnicity(v-model="report.ethnicity")
											option Select
											option White / Caucasian
											option Hispanic / Latino
											option Black / African-American
											option Asian / Pacific Islander
											option Native American Indian
											option Other
								
									div.btn.btnBlue#page4Next(v-on:click="nextStep") Next
							div.page#page5
								div.form.flexParent
									div.inputGroup
										label Referral for
										select#referral
											option Select
											option Emotional Support
											option Physical Support
									div.inputGroup
										label Referred to
										select#referral
											option Select
											option Community Support
											option Faith-Based Support
											option County
											option State
									div.inputGroup.required
										label Synopsis
										textarea#synopsis
											
									div.btn.btnBlue#page5Next(v-on:click="submitForm") Submit
							div.page#page6
								div.form.flexParent
									h2 {{submitAlert}}
				hr
			
			div.section(id="section3")
				h1.textCenter Map
				select
					option All reports
					option RISE reports
					option Domestic disturbance reports
					option Patrol activity reports

				div#map
			
			//login modal
			div.modal(id="modal")
				div.login
					h2 Log In
					input#email(v-model="email" placeholder="Email")
					input#pass(v-model="pass" placeholder="Password" type="password")
					p#warning {{warning}}
					div.btnGreen.signInBtn(v-on:click="signIn") Sign In
					div.btnBlue.signUpBtn(v-on:click="signUp") Sign Up
				div.close(v-on:click="closeModal")
					i.material-icons close
			//loading splash screen
			div.splashScreen
				// Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 435 435', style='enable-background:new 0 0 435 435;', xml:space='preserve')
					defs
						filter(id="f1" x="0" y="0" width="200%" height="200%")
							feOffset(result="offOut" in="SourceGraphic" dx="20" dy="20")
							feBlend(in="SourceGraphic" in2="offOut" mode="normal")
					g(style="fill: #fff;")
						path(d='M361.7,238.3l72.3-80.7L336,111.7L313.9,3.3l-96.4,52.5L121.4,3.4L99.3,111.8h0L1,157.4l72.3,80.7l-31,106.7l110.1-1.5h0\
						l65.3,88.4l65.4-88.5l110,1.5L362,238L361.7,238.3z M324,274.5l-0.3,0.6c-3.6,5.6-7.7,11.1-12.3,16.1l-0.1,0.1\
						c-1.6,1.8-3.2,3.4-4.8,5.1c-9.1,9.1-19.6,16.9-31.1,22.8c-11.3,5.9-23.6,10-36.2,12.2c-12.8,2.2-26,2.5-38.8,0.7\
						c-12.7-1.7-25.1-5.4-36.7-10.8c-11.6-5.5-22.4-12.8-31.8-21.6c-1.2-1.1-2.4-2.2-3.5-3.4c-1.8-1.8-3.6-3.7-5.3-5.6\
						c-4.3-4.8-8.2-9.9-11.6-15.3c-11.6-17.9-18.4-38.8-19.7-60c-0.4-6.4-0.3-12.9,0.2-19.3c0.9-9.6,2.8-19.1,5.8-28.2\
						c6.2-18.7,16.5-35.4,30.6-49.5c9.1-9.1,19.6-16.9,31.1-22.8c11.3-5.9,23.6-10,36.2-12.2c12.8-2.2,26-2.5,38.8-0.7\
						c12.7,1.7,25.1,5.4,36.7,10.8c11.6,5.5,22.4,12.8,31.8,21.6c1.2,1.1,2.4,2.2,3.5,3.4c14.2,14.2,24.5,30.9,30.6,49.7l0.3,0.9\
						c2.8,8.6,4.6,17.6,5.4,26.7l0,0.3c1.9,21.3-1.6,43.1-10.3,62.6c-2.4,5.4-5.2,10.6-8.3,15.7L324,274.5z')
						path(d='M217.5,115.1c-9.7,0-19.3,1.5-28.5,4.5c-8.9,2.9-17.3,7.1-24.9,12.6c-7.5,5.4-14.3,11.9-19.9,19.2\
						c-5.7,7.4-10.2,15.6-13.4,24.4c-3.3,9-5.2,18.5-5.5,28c-0.4,9.7,0.8,19.5,3.4,28.8c2.6,9,6.5,17.6,11.6,25.4\
						c5.1,7.7,11.3,14.7,18.4,20.6c7.2,5.9,15.2,10.8,23.8,14.3c8.8,3.6,18.2,5.8,27.8,6.6c9.7,0.7,19.6,0,29-2.3\
						c9.1-2.2,17.9-5.9,25.9-10.7c7.9-4.8,15.1-10.8,21.2-17.7c6.1-6.9,11.2-14.7,15.1-23.1c3.9-8.7,6.5-17.9,7.6-27.4\
						c1.1-9.7,0.7-19.6-1.2-29.2c-1.9-9.2-5.2-18.2-9.8-26.4c-4.5-8.1-10.2-15.5-16.9-21.9c-6.7-6.4-14.4-11.8-22.7-15.9\
						c-8.5-4.2-17.6-7.1-26.9-8.6C227,115.4,222.2,115.1,217.5,115.1z M217.5,289.7c-17.1,0-33.9-5.4-47.8-15.3\
						c-13.5-9.6-23.9-23.3-29.6-38.8c-5.9-16.2-6.5-34.2-1.8-50.7c4.6-16,14-30.4,26.8-40.9c13-10.7,29.1-17.3,45.9-18.6\
						c17.1-1.3,34.5,2.8,49.2,11.7c14.1,8.6,25.5,21.4,32.3,36.5c7.1,15.7,9.1,33.5,5.6,50.3c-3.3,16.3-11.7,31.4-23.8,43\
						c-12.1,11.6-27.6,19.3-44.1,21.9C226,289.4,221.8,289.7,217.5,289.7z')
						polygon(points='232.5,146.4 202.5,146.4 202.5,173.4 175,173.4 175,204.4 202.5,204.4 202.5,273.4 232.5,273.4 232.5,204.4 \
						260,204.4 260,173.4 232.5,173.4     ')
						path(d='M102.5,183.4c0.2-0.6,0.4-1,0.6-1.2c0.2-0.2,0.6-0.2,0.9-0.1l15.6,4.2c0.3,0.1,0.4,0.2,0.6,0.4c0.1,0.2,0.1,0.5,0,0.9\
						l-0.5,1.9l1,0.3l2.5-9.2l-1-0.3l-0.6,2.2c-0.1,0.4-0.3,0.7-0.6,0.9c-0.2,0.1-0.5,0.2-0.9,0l-6.7-1.8l0.9-3.4c0.6-2.1,0.5-4-0.3-5.7\
						c-1-2.2-3.8-3.1-6-2.6c-2.5,0.6-3.8,2.9-4.4,5.2l-2.5,9.4l1,0.3L102.5,183.4z M104.2,176.9c0.4-1.4,0.8-2.4,1.3-3\
						c0.5-0.6,1-0.9,1.7-1.1c0.7-0.2,1.6-0.1,2.7,0.2c1.2,0.3,2.5,0.8,3.1,1.9c0.7,1.2,0.5,2.7,0.2,3.9l-0.7,2.6l-7.6-2.1\
						c-0.5-0.1-0.7-0.3-0.9-0.6C103.9,178.4,103.9,177.8,104.2,176.9z')
						path(d='M112.2,164.2c4.1,5.5,14.4,7,17.9,0c0.7-1.5,1-3,0.8-4.7c-0.2-1.7-0.8-3.3-1.9-4.7c-1.1-1.5-2.5-2.6-4.4-3.5\
						c-1.8-0.9-3.6-1.3-5.4-1.3c-1.8,0-3.4,0.5-4.9,1.4c-1.4,0.9-2.5,2.1-3.3,3.6C109.5,157.9,110.2,161.6,112.2,164.2z M112,155.2\
						c0.5-1,1.2-1.7,2.2-2.2c1-0.5,2.2-0.7,3.6-0.5c1.4,0.2,3.2,0.8,5.4,1.8c2.5,1.2,5.7,3.2,6.3,6.2c0.2,1.1,0,2.1-0.5,3.1\
						c-0.7,1.5-1.9,2.4-3.7,2.8c-1.7,0.4-4.2-0.2-7.5-1.8C114.5,162.9,109.9,159.7,112,155.2z')
						path(d='M120.7,140.8c0.2-0.3,0.5-0.5,0.7-0.5c0.3,0,0.5,0,0.8,0.2l12.6,9.5c0.8,0.6,0.7,1.3,0.2,2l-1,1.3l0.8,0.6l10-13.1\
						l-5.9-5.1l-0.6,0.7c2.2,2.4,4.3,5.6,2,8.6l-1.7,2.2c-0.5,0.6-1,1.2-1.8,0.6l-12.7-9.6c-0.3-0.2-0.5-0.5-0.6-0.7\
						c0-0.2,0-0.5,0.2-0.8l1.3-1.8l-0.8-0.6l-5.5,7.3l0.8,0.6L120.7,140.8z')
						path(d='M133.8,124.8c0.5-0.5,0.9-0.7,1.2-0.7c0.2,0,0.5,0.2,0.9,0.6l10.7,10.9c0.4,0.4,0.6,0.8,0.6,1c0,0.3-0.2,0.6-0.6,1\
						l-1.2,1.2l0.7,0.7l6.5-6.4l-0.7-0.7l-1.3,1.2c-0.4,0.4-0.8,0.6-1.1,0.6c-0.2,0-0.5-0.2-1-0.6l-10.7-10.9c-0.4-0.4-0.6-0.7-0.6-1\
						c0-0.3,0.3-0.6,0.8-1.1l1.1-1.1l-0.7-0.7l-6.5,6.4l0.7,0.7L133.8,124.8z')
						path(d='M148.9,123.4c1.1,1.5,2.5,2.7,4.1,3.5c1.6,0.8,3.2,1.2,4.8,1c1.6-0.1,3.1-0.7,4.4-1.6c1.7-1.2,2.6-2.7,3-4.5\
						c0.3-1.8-0.1-3.8-1.3-5.9l-0.8,0.6c1.5,3,1.7,6.6-1.3,8.8c-1.5,1.1-3,1.4-4.7,0.9c-1.9-0.6-3.7-2.1-5.5-4.6\
						c-2.2-3-5.3-8.4-1.2-11.4c1.2-0.9,2.7-1.1,4.4-0.7c1.4,0.4,2.9,1.3,4.8,2.8l0.7-0.5l-5-6.4l-0.7,0.5l0.4,2.1c-1.2,0-2.2,0.1-3,0.3\
						c-0.8,0.2-1.6,0.6-2.3,1.1c-1.2,0.9-2.2,2.1-2.7,3.6c-0.6,1.5-0.7,3.2-0.3,5.1C147,120,147.8,121.8,148.9,123.4z')
						path(d='M164,102.1c0.4-0.2,0.7-0.2,0.9-0.1c0.2,0.1,0.4,0.3,0.6,0.6l6.6,14.6c0.1,0.3,0.2,0.6,0,0.9c-0.1,0.3-0.4,0.5-0.9,0.7\
						l-1.2,0.6l0.4,0.9l14.9-6.7l-2.8-7l-0.9,0.4c1.3,4.2,0.5,6.9-2.6,8.3l-2.8,1.3c-0.6,0.2-1.2,0.4-1.5-0.3l-3.3-7.3l1.4-0.6\
						c0.9-0.4,1.8-0.4,2.5,0c0.8,0.4,1.5,1.3,2.2,2.7l0.8-0.4l-3.9-8.5l-0.8,0.4c0.7,1.8,0.9,4.1-1.2,5l-1.5,0.7l-3-6.6\
						c-0.1-0.3-0.2-0.6-0.1-0.8c0.1-0.2,0.3-0.4,0.5-0.5l3.5-1.6c1.1-0.5,2.2-0.5,3.3-0.1c1.1,0.5,2.2,1.6,3.4,3.4l0.8-0.4l-3.1-6.1\
						l-14.3,6.5l0.4,0.9L164,102.1z')
						path(d='M196.5,105.9c1.9,2.7,5.1,4.3,8.5,3.8c2-0.3,3.6-1.2,4.7-2.6c1.1-1.5,1.7-3.4,1.6-5.8l-0.9,0.1c0,2.1-0.5,3.8-1.4,5\
						c-1.9,2.5-6,3-8.3,0.7c-1.4-1.4-2.3-3.6-2.8-6.6c-0.5-3.6-0.4-6.2,0.5-7.8c0.8-1.6,2.1-2.6,3.7-2.8c1.5-0.2,2.9,0.3,4.2,1.5\
						c1,0.9,2,2.5,2.9,4.7l0.9-0.1l-1.5-8l-0.8,0.1l-0.6,2.1c-1-0.6-2-1-2.8-1.2c-0.8-0.2-1.7-0.2-2.5-0.1c-1.5,0.2-2.9,0.9-4.1,1.9\
						c-1.2,1.1-2.1,2.5-2.7,4.4c-0.6,1.9-0.8,3.8-0.5,5.8C194.8,102.8,195.5,104.4,196.5,105.9z')
						path(d='M223,107.5l-1.5-0.1c-0.5,0-0.9-0.2-1.1-0.5c-0.1-0.2-0.1-0.6-0.1-1.3l0.5-7.1l9,0.7l-0.5,7c-0.1,0.7-0.1,1.2-0.3,1.4\
						c-0.2,0.3-0.6,0.4-1.2,0.4l-1.4-0.1l-0.1,1l8.4,0.6l0.1-1l-1.4-0.1c-0.6,0-1-0.2-1.2-0.6c-0.1-0.2-0.1-0.6-0.1-1.3l1.1-14.5\
						c0-0.7,0.1-1.1,0.2-1.2c0.1-0.2,0.3-0.4,0.4-0.5c0.2-0.1,0.4-0.1,0.8-0.1l1.5,0.1l0.1-1l-8.4-0.6l-0.1,1l1.4,0.1\
						c0.6,0,0.9,0.2,1.1,0.4c0.1,0.2,0.2,0.7,0.1,1.5l-0.5,6.2l-9-0.7l0.5-6.2c0.1-0.8,0.2-1.2,0.4-1.4c0.2-0.2,0.5-0.3,1.1-0.2l1.5,0.1\
						l0.1-1l-8.4-0.6l-0.1,1l1.4,0.1c0.6,0,0.9,0.2,1.1,0.4c0.2,0.2,0.2,0.7,0.1,1.4l-1.1,14.6c0,0.6-0.1,1-0.2,1.2\
						c-0.1,0.2-0.2,0.4-0.4,0.5c-0.2,0.1-0.4,0.1-0.7,0.1l-1.6-0.1l-0.1,1l8.4,0.6L223,107.5z')
						path(d='M235.4,109.5l6.9,2l0.3-1l-0.6-0.2c-0.7-0.2-1.3-0.5-1.6-1c-0.3-0.4-0.4-0.8-0.3-1.3c0.1-0.4,0.4-0.8,0.8-1.4l1.6-2.1\
						l7.5,2.2l0.3,4.6c0,0.2,0,0.4-0.1,0.5c-0.1,0.3-0.2,0.4-0.5,0.5c-0.4,0.1-1,0-1.7-0.2l-0.6-0.2l-0.3,1l7.6,2.3l0.3-1l-0.6-0.2\
						c-0.8-0.3-1.3-0.8-1.4-1.6l-1.5-19.8l-0.9-0.3L239.3,107c-1,1.2-2,2-3.6,1.5L235.4,109.5z M249.2,96.1l0.7,9.6l-6.7-2L249.2,96.1z')
						path(d='M264.1,119.2l-2-1c-0.4-0.2-0.6-0.4-0.7-0.8c-0.1-0.2,0-0.5,0.2-0.9l3.2-6.1l3.1,1.6c1.9,1,3.8,1.3,5.7,0.9\
						c2.4-0.5,4-3.1,3.8-5.5c-0.2-2.4-2.1-4.1-4.1-5.2l-8.6-4.5l-0.5,0.9l1.3,0.7c0.6,0.3,0.9,0.6,1,0.9c0.1,0.3,0.1,0.6-0.1,0.9\
						l-7.5,14.3c-0.1,0.2-0.3,0.4-0.5,0.4c-0.2,0.1-0.5,0-0.9-0.2l-1.8-0.9l-0.5,0.9l8.4,4.4L264.1,119.2z M268.8,102.5\
						c0.6-1.2,1.7-0.5,2.6-0.1c1.3,0.7,2.2,1.3,2.6,1.9c0.4,0.6,0.7,1.2,0.7,1.9c0,0.7-0.3,1.6-0.8,2.6c-0.8,1.5-1.7,2.4-2.7,2.7\
						c-1,0.3-2.3,0-3.8-0.7l-2.4-1.2L268.8,102.5z')
						path(d='M284.8,110.9c0,0.3,0,0.5-0.3,0.8l-9.8,12.4c-0.3,0.4-0.6,0.6-0.9,0.6c-0.3,0-0.7-0.1-1.1-0.5l-1.3-1l-0.6,0.8l13,10.2\
						l5.2-5.8l-0.7-0.6c-2.4,2.2-5.6,4.2-8.6,1.8l-2.2-1.7c-0.5-0.4-0.8-0.7-0.8-1c-0.1-0.3,0-0.5,0.3-0.8l9.9-12.5\
						c0.2-0.3,0.5-0.5,0.7-0.5c0.2,0,0.5,0,0.8,0.3l1.7,1.4l0.6-0.8l-7.2-5.7l-0.6,0.8l1.6,1.2C284.6,110.4,284.7,110.6,284.8,110.9z')
						path(d='M286.6,134.7c-0.6-0.1-1.1-0.5-1.6-1l-0.8,0.7l4.7,5.4l0.8-0.7l-0.4-0.5c-0.5-0.6-0.8-1.1-0.8-1.7c0-0.5,0.1-0.9,0.5-1.2\
						c0.3-0.3,0.8-0.5,1.4-0.8l2.5-0.9l5.1,5.9l-2.2,4.1c-0.1,0.2-0.2,0.3-0.3,0.4c-0.2,0.2-0.4,0.2-0.7,0.1c-0.4-0.1-0.8-0.5-1.3-1.1\
						l-0.4-0.5l-0.8,0.7l5.2,6l0.8-0.7l-0.4-0.5c-0.6-0.7-0.7-1.4-0.3-2.1l9.3-17.5l-0.6-0.7l-17.4,6.2\
						C287.9,134.7,287.1,134.9,286.6,134.7z M303,130.5l-4.5,8.5l-4.6-5.3L303,130.5z')
						path(d='M315.1,142.8c0,0.2-0.3,0.5-0.8,0.8l-12.9,8.2c-0.5,0.3-0.9,0.5-1.1,0.4c-0.3-0.1-0.5-0.3-0.9-0.8l-0.9-1.5l-0.9,0.5\
						l4.9,7.7l0.9-0.5l-0.9-1.5c-0.3-0.5-0.4-0.9-0.4-1.2c0-0.2,0.3-0.5,0.8-0.8l12.9-8.2c0.5-0.3,0.9-0.4,1.1-0.4\
						c0.2,0.1,0.6,0.4,0.9,1l0.8,1.3l0.9-0.5l-4.9-7.7l-0.9,0.5l0.8,1.3C315,142,315.1,142.5,315.1,142.8z')
						path(d='M327.2,169.4c0.6,0,1,0.2,1.4,0.4c0.3,0.2,0.6,0.7,0.9,1.3l0.9-0.4l-2.7-6.4l-0.9,0.4c0.3,0.9,0.4,1.6,0.1,2.3\
						c-0.3,0.7-1,1.3-2.1,1.7l-10.6,4.5l10-17.2l-1.8-4.4l-0.9,0.4l0.3,0.8c0.2,0.4,0.2,0.7,0.2,1c0,0.2-0.2,0.6-0.4,1.2l-0.2,0.3\
						l-12.6,5.3c-0.8,0.3-1.6,0.4-2.3,0.1c-0.8-0.3-1.3-0.8-1.8-1.7l-0.9,0.4l2.9,7l0.9-0.4c-0.4-1.1-0.5-1.9-0.2-2.7\
						c0.3-0.7,0.9-1.3,2-1.7l11.2-4.8l-10.4,17.8l0.5,1.2l14.8-6.3C326.1,169.5,326.6,169.4,327.2,169.4z')
						path(d='M326.4,177.9c-1.7,0.4-2.8,1.2-3.5,2.5c-0.5,0.9-0.7,2.5-0.8,4.7c-0.1,2-0.2,3.4-0.4,4.2c-0.2,0.7-0.5,1.3-0.9,1.7\
						c-0.4,0.4-0.9,0.7-1.6,0.8c-2.4,0.5-4.5-1.3-4.9-3.5c-0.3-1.6,0-3.2,0.9-4.7c1-1.5,2.4-2.7,4.5-3.5l-0.2-0.9l-7.7,1.6l0.2,0.9\
						l2.2,1.1c-1,1.8-1.3,3.6-0.9,5.6c0.4,1.9,1.3,3.3,2.7,4.2c1.4,0.9,3,1.2,4.8,0.8c1-0.2,1.8-0.6,2.5-1.2c0.7-0.6,1.1-1.4,1.4-2.3\
						c0.3-1,0.5-2.6,0.5-4.8c0-1.6,0.1-2.7,0.3-3.3c0.2-0.6,0.5-1.1,0.9-1.5c0.4-0.4,0.9-0.6,1.6-0.8c2.2-0.5,4,1.1,4.5,3.2\
						c0.3,1.4,0,2.7-0.8,4c-0.8,1.3-2.2,2.4-4.3,3.4l0.2,0.9l7.2-1.6l-0.2-1l-2-0.8c0.5-0.9,0.9-1.8,1-2.6c0.1-0.8,0.1-1.6,0-2.4\
						c-0.4-1.7-1.2-3-2.5-3.8C329.7,177.8,328.1,177.6,326.4,177.9z')
						path(d='M149.1,287.3c-0.9,1-1.8,1.5-2.6,1.6c-0.8,0.1-1.6-0.1-2.3-0.8l-1.3-1.1l4.8-5.5c0.2-0.2,0.4-0.4,0.6-0.4\
						c0.2,0,0.4,0.1,0.7,0.3l2.4,2.1c1.2,1,1.8,2.1,1.9,3.3c0.1,1-0.5,2.6-1.8,4.7l0.7,0.6l4.4-5.5l-12.2-10.5l-0.7,0.8l1.5,1.3\
						c0.3,0.3,0.5,0.6,0.6,0.8c0,0.2-0.1,0.5-0.3,0.8l-10.5,12.2c-0.3,0.3-0.5,0.4-0.7,0.5c-0.2,0-0.5-0.1-0.8-0.4l-1.5-1.3l-0.7,0.8\
						l7.2,6.2l0.7-0.8l-1.6-1.3c-0.4-0.3-0.6-0.7-0.7-0.9c0-0.3,0.1-0.6,0.4-0.9l5-5.8l1.3,1.1c1.8,1.6,0.9,3.7-0.4,5.3l0.7,0.6l6-6.9\
						L149.1,287.3z')
						path(d='M168.9,300c1.8-3-0.2-5.9-2.8-7.5l-8.8-5.2l-0.5,0.9l1.7,1c0.4,0.2,0.6,0.4,0.7,0.7c0.1,0.3,0,0.5-0.1,0.8l-8.3,13.9\
						c-0.2,0.3-0.4,0.4-0.6,0.5c-0.3,0-0.6,0-0.9-0.3l-1.7-1l-0.5,0.9l7.9,4.7l0.5-0.9l-1.6-1c-0.4-0.2-0.6-0.5-0.7-0.7\
						c-0.1-0.2,0-0.5,0.1-0.7l4.1-6.8l1.4,0.8c0.7,0.4,1.3,0.9,1.7,1.5c0.9,1.4,0.4,2.9-0.2,4.3c-0.9,1.9-1.3,3.1-1.4,3.6\
						c-0.1,0.7-0.1,1.3,0.2,1.8c0.2,0.5,0.6,1,1.2,1.3c1.8,1.1,3.5,0.3,5.3-2.3l-0.8-0.5c-0.6,0.9-1.1,1.4-1.5,1.7\
						c-0.4,0.2-0.7,0.3-1,0.1c-0.2-0.1-0.4-0.4-0.4-0.8c0-0.5,0.1-1.4,0.5-2.5c0.5-1.6,0.8-2.7,0.8-3.4c0-0.6-0.1-1.2-0.3-1.7\
						c-0.2-0.5-0.8-1.3-1.7-2.2c1.6,0.7,2.9,1.1,3.8,1.2C166.5,302.3,168,301.5,168.9,300z M166.2,298.6c-0.8,1.3-1.7,2-2.8,2.1\
						c-1.1,0.1-2.3-0.3-3.6-1.1l-2-1.2l3.7-6.3c0.2-0.3,0.4-0.5,0.7-0.5c0.3,0,0.9,0.3,1.8,0.8c1.4,0.9,3.2,1.8,3.1,3.7\
						C167,296.9,166.8,297.7,166.2,298.6z')
						path(d='M174.7,298.5l1.5,0.6c0.4,0.1,0.6,0.3,0.7,0.5c0.1,0.2,0.1,0.5,0,0.8l-5.5,15.1c-0.3,0.8-1,0.8-1.7,0.5l-1.3-0.5l-0.3,1\
						l15.3,5.6l2.9-7l-0.9-0.3c-2,3.9-4.5,5.3-7.6,4.2l-2.9-1c-0.4-0.2-0.7-0.3-0.8-0.5c-0.1-0.2-0.1-0.5,0-0.7l2.7-7.6l1.5,0.5\
						c0.9,0.3,1.5,0.9,1.9,1.7c0.3,0.8,0.2,2-0.3,3.4l0.9,0.3l3.2-8.8l-0.9-0.3c-0.5,1.3-1.1,2.1-1.9,2.6c-0.8,0.4-1.6,0.5-2.4,0.2\
						l-1.6-0.6l2.5-6.8c0.1-0.3,0.3-0.6,0.5-0.7c0.2-0.1,0.5-0.1,0.8,0l3.6,1.3c3,1.1,2.9,4.4,2.4,7.1l0.8,0.3l2-6.5l-14.7-5.3\
						L174.7,298.5z')
						path(d='M203.8,307.1c-0.7-0.8-1.4-1.5-2-1.9c-0.7-0.4-1.4-0.7-2.3-0.8c-1.7-0.3-3.2,0-4.5,1c-1.3,0.9-2.1,2.3-2.4,4\
						c-0.3,1.7,0,3.1,1,4.2c0.7,0.8,2,1.6,4.1,2.5c1.9,0.8,3.1,1.4,3.7,1.9c0.6,0.4,1,0.9,1.3,1.5c0.2,0.5,0.3,1.1,0.2,1.8\
						c-0.4,2.4-2.8,3.7-5.1,3.3c-1.6-0.3-3-1.1-4-2.6c-1.1-1.5-1.6-3.3-1.6-5.5l-0.9-0.2l-1.3,7.7l0.9,0.2l1.8-1.6\
						c1.3,1.6,2.9,2.6,4.9,2.9c1.9,0.3,3.5,0,4.9-1c1.4-1,2.2-2.4,2.5-4.2c0.2-1,0.1-1.9-0.2-2.7c-0.9-2.5-3.7-3.5-6-4.5\
						c-1.5-0.6-2.5-1.1-3-1.5c-0.5-0.4-0.9-0.9-1.1-1.4c-0.2-0.5-0.2-1.1-0.1-1.8c0.2-1,0.7-1.8,1.6-2.4c0.9-0.6,1.9-0.8,3-0.6\
						c1.4,0.2,2.5,1,3.4,2.2c0.9,1.2,1.4,3,1.6,5.3l0.9,0.2l1.2-7.3l-1-0.2L203.8,307.1z')
						path(d='M223.1,306.3l0,1c0.9,0,1.6,0.3,2.1,0.8c0.5,0.5,0.8,1.4,0.8,2.6l0.2,11.5L214,306.4l-4.7,0.1l0,1l0.9,0\
						c0.4,0,0.7,0.1,1,0.2c0.2,0.1,0.5,0.4,1,0.9l0.2,0.3l0.2,13.7c0,0.9-0.2,1.6-0.8,2.2c-0.5,0.6-1.3,0.9-2.2,1l0,1l7.5-0.1l0-1\
						c-1.1,0-2-0.3-2.5-0.8c-0.6-0.5-0.8-1.4-0.9-2.5l-0.2-12.2l12.6,16.3l1.3,0l-0.3-16.1c0-0.6,0.1-1.2,0.4-1.7\
						c0.3-0.5,0.5-0.9,0.9-1.1c0.3-0.2,0.9-0.3,1.6-0.3l0-1L223.1,306.3z')
						path(d='M249.2,306.6c-1.2-1.4-2.6-2.4-4.2-2.9c-1.6-0.5-3.2-0.6-4.9-0.3c-1.5,0.3-2.8,1.1-4,2.3c-1.2,1.2-2,2.7-2.4,4.4\
						c-0.4,1.7-0.4,3.6,0,5.5c0.4,2,1.3,3.7,2.5,5.1c2.3,2.7,5.8,4.2,9.2,3.1c3.1-0.9,5.4-3.6,6.2-6.7\
						C252.5,313.6,251.5,309.4,249.2,306.6z M248.8,318c-0.2,1.4-0.6,2.6-1.3,3.4c-0.7,0.8-1.6,1.3-2.7,1.6c-1.6,0.4-3.1,0-4.5-1.1\
						c-1.4-1.1-2.5-3.4-3.3-6.9c-0.7-3.3-0.8-5.7,0-7.4c0.7-1.7,1.9-2.7,3.6-3.1c2.4-0.6,4.5,0.8,5.8,2.8c0.8,1.2,1.4,3,2,5.4\
						C248.8,314.7,249,316.5,248.8,318z')
						path(d='M261.3,316.1c-0.5-0.3-1.1-0.3-1.6-0.1c-0.4,0.2-0.8,0.5-0.9,0.8c-0.2,0.4-0.2,0.8,0,1.2c0.2,0.4,0.4,0.7,0.8,0.9\
						c0.4,0.2,0.8,0.2,1.2,0.1c0.1,0,0.2-0.1,0.4-0.2l0.3-0.2c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0.1,0.2,0.3c0.4,0.9,0,2.4-1.2,4.2l0.7,0.4\
						c1.5-2.3,1.9-4.3,1.2-6C262.2,316.9,261.8,316.4,261.3,316.1z')
						path(d='M285.9,297.5c0.9,2,1.1,3.7,0.8,5.2c-0.4,1.5-1.2,2.6-2.6,3.5c-1.6,1-3.1,1.2-4.7,0.6c-1.9-0.7-3.6-2.3-5.2-4.9\
						c-1.9-3-2.9-5.5-2.8-7.3c0.1-1.8,0.8-3.2,2.2-4.1c1.3-0.8,2.8-1,4.4-0.4c1.3,0.4,2.9,1.5,4.6,3.1l0.8-0.5l-4.7-6.7l-0.7,0.5\
						l0.3,2.1c-1.2-0.1-2.2-0.1-3,0.1c-0.8,0.2-1.6,0.5-2.3,1c-2.9,1.8-3.9,5.3-3.5,8.5c0.2,1.9,0.9,3.8,2,5.5c1,1.6,2.3,2.9,3.8,3.8\
						c1.5,0.9,3.1,1.3,4.8,1.3c1.6,0,3.1-0.5,4.5-1.4c1.7-1.1,2.8-2.5,3.2-4.4c0.4-1.8,0.1-3.8-0.9-6L285.9,297.5z')
						path(d='M307.6,286.2c-0.6,0.6-1.3,0.7-2,0.4l-17.8-8.7l-0.7,0.6l6.8,17.1c0.4,1,0.5,1.7,0.4,2.3c-0.1,0.6-0.4,1.1-1,1.6l0.7,0.8\
						l5.3-4.9l-0.7-0.8l-0.5,0.5c-0.6,0.5-1.1,0.8-1.6,0.9c-0.5,0-0.9-0.1-1.2-0.4c-0.3-0.3-0.5-0.7-0.8-1.4l-1-2.4l5.7-5.3l4.1,2\
						c0.2,0.1,0.3,0.2,0.4,0.3c0.2,0.2,0.2,0.4,0.1,0.7c-0.1,0.4-0.5,0.8-1.1,1.4l-0.5,0.4l0.7,0.8l5.8-5.4l-0.7-0.8L307.6,286.2z\
						M293,290.7l-3.5-9l8.7,4.3L293,290.7z')
						polygon(points='118.4,230.9 118.2,230.8 118.2,230.7 118.4,230.8 117.2,224.5 111.8,227.5 112,227.6 111.8,227.7 111.7,227.6 \
						111.8,227.5 106.5,224.5 105.2,230.8 105.5,230.7 105.4,230.8 105.2,230.9 105.2,230.8 99.8,233.4 103.8,238.1 103.8,237.9 \
						104,238.2 104,238.3 103.8,238.1 102.1,244.3 108.2,244.2 108.1,244 108.2,244 108.3,244.2 108.2,244.2 111.8,249.3 115.5,244.2 \
						115.3,244.2 115.4,244 115.5,244 115.5,244.2 121.6,244.2 119.9,238.1 119.7,238.3 119.7,238.2 119.8,237.9 119.9,238.1 \
						123.9,233.4 118.4,230.8     ')
						polygon(points='329.8,230.8 329.8,230.9 329.6,230.8 329.5,230.7 329.8,230.8 328.5,224.5 323.2,227.5 323.3,227.6 323.2,227.7 \
						323,227.6 323.2,227.5 317.8,224.5 316.6,230.8 316.8,230.7 316.8,230.8 316.6,230.9 316.6,230.8 311.1,233.4 315.1,238.1 \
						315.2,237.9 315.3,238.2 315.3,238.3 315.1,238.1 313.4,244.3 319.5,244.2 319.5,244 319.6,244 319.7,244.2 319.5,244.2 \
						323.2,249.3 326.8,244.2 326.7,244.2 326.8,244 326.9,244 326.8,244.2 332.9,244.2 331.2,238.1 331,238.3 331,238.2 331.2,237.9 \
						331.2,238.1 335.2,233.4     ')
				div(style="flex: 0 1 auto; text-align:center;padding-top: 10vw;")
					div.loader
					h4 Loading

			div#loader
				div.loader
				h4 Loading



		//firebase
		script(src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js")
		//vue
		script(src="../public/js/vue.js")  
		// DEVELOPMENT ^
		//script(src="../public/js/vue.min.js") 
		// PRODUCTION ^
		script(src="../public/js/site.js")
		//google maps  
		script(v-if="vm.user.role === 'admin'" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQqrtGt0Cdb6aD9z83enxHrHyX_6yLX40&callback=initMap"
	async defer)