<!DOCTYPE html>
html
	head
		link(href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans:300,400,700|Material+Icons" rel="stylesheet")
		link(rel="icon" type="image/png" href="favicon.png")
		link(rel="shortcut icon" type="image/png" href="favicon.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title ChapApp
		style
			include ../public/scss/site.css
	body
		div.content
			//navbar
			nav.collapse(id="navbar" v-on:click="toggleNav")
				h1(id="navHeader") ChapApp | 
					span(v-html="page")
				ul
					li#section1Btn(v-on:click="scrollTo")
						a#section1Btn Home
					li#section2Btn(v-on:click="scrollTo") 
						a#section2Btn Submit
					li
						a Reports
					li(v-on:click="showModal")
						a Log In
					li(v-on:click="signOut")
						a Log Out
				div.navCollapseToggleBtn
					i.material-icons menu
			//section 1 - HOME
			div.section(id="section1")
				h2(id="userWelcome") {{ user.name.length > 0 ? "Welcome, " + user.name : "Please log in."}}
				hr
				//display this row only if the user has admin access
				template(v-if="user.role === 'admin'")
					div.flexParent.homeBtnRow
						div#section3Btn.mapBtn(v-on:click="scrollTo")
							img#section3Btn(src="public/img/map-icon.png")
							p View map
						div.graphBtn
							img(src="public/img/graph-icon.png")
							p View trends
						div.reportBtn
							img(src="public/img/report-icon.png")
							p Print report
					div.addBtn
						i.material-icons add
				//display the rest of the section only if the user actually exists
				template(v-if="user.name.length > 0")
					div#section2Btn.btnBlue.submitBtn(v-on:click="scrollTo") Submit <br/> activity report
					hr
					div.message(v-for= "item in messages")
						h4 {{item.date}}
			hr
			//section 2 - SUBMIT REPORT
			div.section(id="section2")
				//this is where the forms go
				div.flexParent
					h2.textCenter Submit Activity Report
					hr
					div(v-for= "item in reportTypes" v-bind:class="item.class" v-bind:id="item.index" v-on:click="selectReport")
						span(v-bind:id="item.index") {{item.title}}

				div#card(v-if="selectedReport.index === 0")

					i.material-icons.close(v-on:click="hideCard") close
					div.step {{currentStep.index}}
					h2.inline {{currentStep.title}}
					div.progressBar
						div.progress(v-bind:class="currentStep.progress")
					div.page#page1
						div.form.flexParent
							div.inputGroup
								label Event #
								input#eventNo
							div.inputGroup
								label Case #
								input#caseNo
							div.inputGroup.required
								label Duty status
								select#dutyStatus
									option Select
									option Follow-up
									option Primary duty
									option Self-initiated
							div.inputGroup.required
								label School
								select#school
									option Select
									option Addams Elementary
									option Anthony Elementary 
									option Ayer Elementary 
									option Aynesworth Elementary 
									option Bakman Elementary 
									option Balderas Elementary 
									option Birney Elementary 
									option Burroughs Elementary 
									option Calwa Elementary 
									option Centennial Elementary 
									option Columbia Elementary 
									option Del Mar Elementary 
									option Easterby Elementary 
									option Eaton Elementary 
									option Ericson Elementary 
									option Ewing Elementary 
									option Fig Garden Elementary 
									option Forkner Elementary 
									option Fresmont Elementary 
									option Gibson Elementary 
									option Greenberg Elementary 
									option Heaton Elementary 
									option Hidalgo Elementary 
									option Holland Elementary 
									option Homan Elementary 
									option Jackson Elementary 
									option Jefferson Elementary 
									option King Kirk Elementary 
									option Kratt Elementary 
									option Lane Elementary 
									option Lawless Elementary 
									option Leavenworth Elementary 
									option Lincoln Elementary 
									option Lowell Elementary 
									option Malloch Elementary 
									option Manchester GATE 
									option Mayfair Elementary 
									option McCardle Elementary 
									option Muir Elementary 
									option New Spirit Charter 
									option Norseman Elementary 
									option Olmos Elementary 
									option Powers-Ginsburg Elementary 
									option Pyle Elementary 
									option Robinson Elementary 
									option Roeding Elementary 
									option Rowell Elementary 
									option Slater Elementary 
									option Starr Elementary 
									option Storey Elementary 
									option Sunset Elementary 
									option Thomas Elementary 
									option Turner Elementary 
									option Valley Prep Academy 
									option Vang Pao Elementary 
									option Viking Elementary 
									option Vinland Elementary 
									option Webster Elementary 
									option Williams Elementary 
									option Wilson Elementary 
									option Winchell Elementary 
									option Wishon Elementary 
									option Wolters Elementary 
									option Yokomi Elementary 
							div.btn.btnBlue#page1Next(v-on:click="nextCard") Next
					div.page#page2
						div.form.flexParent
							div.inputGroup.required
								label Date
								input#date(type="date")
							div.inputGroup.required
								label Time arrived
								input#timeArrived(type="time")
							div.inputGroup.required
								label Time cleared
								input#timeCleared(type="time")
							div.btn.btnBlue#page2Next(v-on:click="nextCard") Next
					div.page#page3
						div.form.flexParent
							div.inputGroup
								h4 Did you work with a group today?
								input#group(v-model="group" type="checkbox")
							div.inputGroup(v-if="!group")
								label Counseling for
								select#counseling
									option Select
									option Child
									option Family
									option Staff
							div.inputGroup(v-if="!group")
								label Gender
								select#gender
									option Select
									option Female
									option Male
									option Other gender
							div.inputGroup(v-if="!group")
								label Ethnicity
								select#ethnicity
									option Select
									option White / Caucasian
									option Hispanic / Latino
									option Black / African-American
									option Asian / Pacific Islander
									option Native American Indian
									option Other
							div.btn.btnBlue#page3Next(v-on:click="nextCard") Next
					div.page#page4
						div.form.flexParent
							div.inputGroup.required
								label Campus activity
								select#campusActivity
									option Select
									option 1st Grade
									option 2nd Grade
									option Yard Duty
									option Other
							div.inputGroup.required
								label Event classification code
								select#eventCode
									option Select
									option No event issued
									option 1A - Adults
									option 1A - Juveniles
									option 1E - Weapons
									option 1H - Out of Control
									option 1H - Curfew
									option 1H - Truant
									option 1J - At-risk Person
									option 1J - Missing Adult
									option 1J - Missing Juveline
									option 1J - Runaway Juveline
									option 1J - Found
									option 1M - Suicide/Attempt
									option 1M - Committed WIC 5150
									option 1M - Sick or Injured / Check Welfare
									option 1M - Mental Illness
									option 1M - Overdose (Non-Narcotics Related)
									option 1N - Suspicious Person
									option 1N - Suspicious Vehicle
									option 1N - Prowler Call
									option 1N - Other Suspicious Circumstances
									option 2B - Attend Public Meeting
									option 2B - Security Inspection
									option 2B - Patrol Watch/Building Check
									option 4C - Forcible Rape
									option 4C - Spousal Rape
									option 4C - Sodomy
									option 4C - Oral Copulation
									option 4C - Sexual Battery/Molestation
									option 4C - Indecent Exposure
									option 4C - Unlawful Intercourse
									option 4D - Aggravated Assault
									option 4D - Simple Battery
									option 4D - Domestic Violence
									option 4D - Kidnap
									option 4I - Selling Alcohol to Minors
									option 4I - Selling Tobacco to Minors
									option 4J - Bombing
									option 4J - Attempt
									option 4J - Threat
									option 4J - Possession of Bomb Device
									option 4J - Found Device
									option 4K - Child Abuse/Neglect (at risk)
									option 4K - Prior
									option 4O - Child Custody
									option 4O - Domestic Violence-Related
									option 4O - Other
									option 4Q - Child Concealment
									option 4Q - Child Custody
									option 4S - Possession
									option 4S - Sales
									option 4S - Possession for Sale
									option 4S - Manufacturing/Growing
							
							div.btn.btnBlue#page4Next(v-on:click="nextCard") Next
					div.page#page5
						div.form.flexParent
							div.inputGroup
								label Referral for
								select#referral
									option Select
									option Emotional Support
									option Physical Support
							div.inputGroup
								label Referred to
								select#referral
									option Select
									option Community Support
									option Faith-Based Support
									option County
									option State
							div.inputGroup.required
								label Synopsis
								textarea#synopsis
									
							div.btn.btnBlue#page5Next(v-on:click="nextCard") Submit
					div.page#page6
						div.form.flexParent
							h1 Success!
							h4 Thank you for submitting your report.

				div#card(v-if="selectedReport.index === 2")
					
					i.material-icons.close(v-on:click="hideCard") close
					div.step {{currentStep.index}}
					h2.inline {{currentStep.title}}
					div.progressBar
						div.progress(v-bind:class="currentStep.progress")
					div.page#page1
						div.form.flexParent
							div.inputGroup.required
								label Event #
								input#eventNo
							div.inputGroup
								label Case #
								input#caseNo
							div.inputGroup.required
								label Duty status
								select#dutyStatus
									option Select
									option Follow-up
									option Primary duty
									option Self-initiated
							div.inputGroup.required
								label Agency assisted
								select#agency
									option Select
									option American Ambulance
									option Fresno Fire
									option Fresno PD
					
							div.btn.btnBlue#page1Next(v-on:click="nextCard") Next
					div.page#page2
						div.form.flexParent
							div.inputGroup.required
								label Date
								input#date(type="date")
							div.inputGroup.required
								label Time received
								input#timeReceived(type="time")
							div.inputGroup.required
								label Time arrived
								input#timeArrived(type="time")
							div.inputGroup.required
								label Time cleared
								input#timeCleared(type="time")
							div.btn.btnBlue#page2Next(v-on:click="nextCard") Next
					div.page#page3
						div.form.flexParent
							div.inputGroup
								label Counseling for
								select#counseling
									option Select
									option Child
									option Family
									option Staff
							div.inputGroup
								label Gender
								select#gender
									option Select
									option Female
									option Male
									option Other gender
							div.inputGroup
								label Ethnicity
								select#ethnicity
									option Select
									option White / Caucasian
									option Hispanic / Latino
									option Black / African-American
									option Asian / Pacific Islander
									option Native American Indian
									option Other
							div.btn.btnBlue#page3Next(v-on:click="nextCard") Next
					div.page#page4
						div.form.flexParent
							div.inputGroup.required
								label Campus activity
								select#campusActivity
									option Select
									option 1st Grade
									option 2nd Grade
									option Yard Duty
									option Other
							div.inputGroup.required
								label Event classification code
								select#eventCode
									option Select
									option No event issued
									option 1A - Adults
									option 1A - Juveniles
									option 1E - Weapons
									option 1H - Out of Control
									option 1H - Curfew
									option 1H - Truant
									option 1J - At-risk Person
									option 1J - Missing Adult
									option 1J - Missing Juveline
									option 1J - Runaway Juveline
									option 1J - Found
									option 1M - Suicide/Attempt
									option 1M - Committed WIC 5150
									option 1M - Sick or Injured / Check Welfare
									option 1M - Mental Illness
									option 1M - Overdose (Non-Narcotics Related)
									option 1N - Suspicious Person
									option 1N - Suspicious Vehicle
									option 1N - Prowler Call
									option 1N - Other Suspicious Circumstances
									option 2B - Attend Public Meeting
									option 2B - Security Inspection
									option 2B - Patrol Watch/Building Check
									option 4C - Forcible Rape
									option 4C - Spousal Rape
									option 4C - Sodomy
									option 4C - Oral Copulation
									option 4C - Sexual Battery/Molestation
									option 4C - Indecent Exposure
									option 4C - Unlawful Intercourse
									option 4D - Aggravated Assault
									option 4D - Simple Battery
									option 4D - Domestic Violence
									option 4D - Kidnap
									option 4I - Selling Alcohol to Minors
									option 4I - Selling Tobacco to Minors
									option 4J - Bombing
									option 4J - Attempt
									option 4J - Threat
									option 4J - Possession of Bomb Device
									option 4J - Found Device
									option 4K - Child Abuse/Neglect (at risk)
									option 4K - Prior
									option 4O - Child Custody
									option 4O - Domestic Violence-Related
									option 4O - Other
									option 4Q - Child Concealment
									option 4Q - Child Custody
									option 4S - Possession
									option 4S - Sales
									option 4S - Possession for Sale
									option 4S - Manufacturing/Growing
							
							div.btn.btnBlue#page4Next(v-on:click="nextCard") Next
					div.page#page5
						div.form.flexParent
							div.inputGroup
								label Referral for
								select#referral
									option Select
									option Emotional Support
									option Physical Support
							div.inputGroup
								label Referred to
								select#referral
									option Select
									option Community Support
									option Faith-Based Support
									option County
									option State
							div.inputGroup.required
								label Synopsis
								textarea#synopsis
									
							div.btn.btnBlue#page5Next(v-on:click="submitForm") Submit
								
			
			div.section(id="section3")
				div#map
			
			//login modal
			div.modal(id="modal")
				div.modalInner
					div.login
						h2 Log In
						input#email(v-model="email" placeholder="Email")
						input#pass(v-model="pass" placeholder="Password" type="password")
						p#warning {{warning}}
						div.btnGreen.signInBtn(v-on:click="signIn") Sign In
						div.btnBlue.signUpBtn(v-on:click="signUp") Sign Up
					div.close(v-on:click="closeModal")
						i.material-icons close
		//firebase
		script(src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js")
		//vue
		script(src="../public/js/vue.js")  
		// DEVELOPMENT ^
		//script(src="../public/js/vue.min.js") 
		// PRODUCTION ^
		script(src="../public/js/site.js")
		//google maps  
		script(v-if="vm.user.role === 'admin'" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQqrtGt0Cdb6aD9z83enxHrHyX_6yLX40&callback=initMap"
    async defer)